target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.gz
**/classes/**


.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

**/bin/**
**/logs/**
**/out/**



photon-aereport-web/src/main/resources/application-dev\.yml
/.jpb/

*.DS_Store
